<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Course Directory</title>
</head>

<body>
 
	<div class="container">
	
		<h3>Course Directory</h3>
		<hr>
		
		
		<a th:href="@{/courses/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3">
			Add Course
		</a>
		
		<a th:href="@{/studentRegistrations/list}"
			class="btn btn-primary btn-sm mb-3">
			Show all Student Registrations
		</a>
		
		<a th:href="@{/studentRegistrations/showStats}"
						   class="btn btn-primary btn-sm mb-3">
							Calculate statistics
						</a>
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Course id</th>
					<th>Name</th>
					<th>Year</th>
					<th>Semester</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempCourse : ${courses}">
				
					<td th:text="${tempCourse.id}" />	
					<td th:text="${tempCourse.name}" />	
					<td th:text="${tempCourse.year}" />
					<td th:text="${tempCourse.semester}" />
					<td th:text="${tempCourse.description}" />	
					
					<td>
						
						<a th:href="@{/courses/showFormForUpdate(courseId=${tempCourse.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>
						
											
						<a th:href="@{/courses/delete(courseId=${tempCourse.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">
							Delete
						</a>
						
						<a th:href="@{/studentRegistrations/showFormForAdd(courseid=${tempCourse.id})}"
						   class="btn btn-info btn-sm">
							add student to this course
						</a>
						
						<a th:href="@{/studentRegistrations/listStudentsForACourse(courseid=${tempCourse.id})}"
						   class="btn btn-info btn-sm">
							Show students enrolled to this course
						</a>
						<a th:href="@{/studentRegistrations/showOverall(courseid=${tempCourse.id})}"
						   class="btn btn-info btn-sm">
							Calculate grades
						</a>
						
						
					</td>
					
					
				</tr>
			</tbody>		
		</table>
		
	</div>

</body>
</html>
